---
import Sliders from "../components/Sliders";
import quimikal from "../assets/imgProjects/p_quimikal.jpg";
import bimcapacitacion from "../assets/imgProjects/p_bimcapacitacion.jpg";
import discountsCitys from "../assets/imgProjects/p_discountscitys.jpg";
import caretCorp from "../assets/imgProjects/p_sample_form.jpg";
---

<section id="Projects">
    <div class="ProjectWrapper">
        <div class="ProjectSlider">
            <h3>Latest projects / Demos...</h3>
            <Sliders type="profesional" client:visible />
        </div>
        <div class="ProjectSlider">
            <h3>React projects...</h3>
            <Sliders type="react" client:visible />
        </div>
        <div class="ProjectSlider">
            <h3>React projects...</h3>
            <Sliders type="react" client:visible />
        </div>
        <!-- <div class="ProjectSlider">
            <h3>DevTo Posts...</h3>
            <Sliders/>
        </div> -->
    </div>
</section>

<style>
    section {
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .ProjectWrapper {
        width: 70%;
        height: 100%;
        margin: 40px auto;
    }
    h3 {
        font-size: 40px;
        margin: 40px 0 10px 0;
    }

    @media screen and (max-width: 1024px) {
    }

    @media screen and (max-width: 768px) {
        h3 {
            font-size: 30px;
            margin: 30px 0 10px 0;
        }
    }

    @media screen and (max-width: 425px) {
        h3 {
            font-size: 24px;
            margin: 25px 0 10px 0;
        }
        .ProjectWrapper {
            width: 85%;
        }
    }
    @media screen and (max-width: 320px) {
    }
</style>
